html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Gill Sans", sans-serif;
}

footer {
  background-color: #c4e0f9;
  border: 2px solid #a4caec;
  text-align: center;
  height: 5em;
  padding-bottom: 1%;
}
footer p {
  color: #3c86da;
  font-size: 2em;
}

header {
  background-color: #c4e0f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  height: 5em;
  border: 2px solid #a4caec;
}
header .dropDownList {
  position: relative;
}
header .dropDownList nav {
  position: absolute;
  top: 50px;
  width: 150px;
  text-align: center;
  opacity: 0%;
  overflow: hidden;
  right: 0;
  border: 2px solid #a4caec;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 25px;
  background-color: #f2f8fe;
}
header .dropDownList nav ul {
  padding-left: 1%;
  padding-right: 1%;
}
header .dropDownList nav ul li {
  padding-top: 5px;
  padding-bottom: 15px;
}
header .dropDownList nav ul li a {
  color: #3c86da;
  text-decoration: none;
}
header .dropDownList:hover nav {
  opacity: 100%;
}
header img {
  width: 5em;
  height: 5em;
}
header .title {
  font-size: 2em;
  margin-top: 1%;
  margin-left: 1%;
}
header .title a {
  text-decoration: none;
  color: #3c86da;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .title a:hover {
  color: #246dbf;
}